.account-info{
    background-color: white;
    display:flex;
    flex-direction: column;
}

h1 , p {
    color : white
}

.account-button{
    background-color: green;
    color:white;
    padding:5px;
}