.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 64px;
}
.image_banner_logo {
  width: 200px;
  float: left;
}

.right-section {
  display: flex;
  width: 20%;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  width: 25%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.sign-in:hover {
  text-decoration: underline;
}
/**CSS pour le composant BannerLog **/

.div-logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  width: 20%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.div-logout:hover {
  text-decoration: underline;
}
.icon-logout {
  width: 15px;
  padding-right: 5px;
}
.div-username {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.div-username:hover {
  text-decoration: underline;
}

.icon-user {
  width: 20px;
  padding-right: 5px;
}

@media screen and (max-width: 700px) {
  .sign-in {
    width: 30%;
  }
  .div-username {
    justify-content: center;
  }
}
