.user-form {
  padding: 5px;
  width: 30%;
  margin-top:54px;
}
.user-form-cach {
  display: none;

}

.form-row {
  display: flex;
  margin-bottom: 7px;
}
.form-row input {
  padding: 8px;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-save-and-cancel {
  background-color: #00cb77;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-color: #00cb77;
  padding: 8px;
  margin: auto;
}

.h1{
  margin-top:20px;
}
