.body-connexion {
  position: relative;
  height: 750px;
  background-color: #12002b;
  font-family: "Arial";
}

.modale-connexion {
  width: 300px;
  text-align: center;
  position: absolute;
  background-color: white;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modale-connexion-title {
  font-size: 1.5rem;
}

.modale-connexion-form {
  display: flex;
  flex-direction: column;
}

.modale-connexion-label {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.modale-connexion-input {
  padding: 5px;
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.modale-connexion-button {
  font-weight: bold;
  border-color: #00bc77;
  background-color: #00bc77;
  color: white;
  margin-top: 2rem;
  padding: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.checkbox {
  display: flex;
  position: relative;
}
.checkbox input {
  position: absolute;
  right: 140px;
  top: 0;
}
.checkbox label {
  position: absolute;
  right: 72px;
  top: 2px;
}

.modale-connexion-button:hover {
  text-decoration: underline;
}
.error-message {
  color: red;
}
